{% extends "base.html" %}

{% block content %}
    {{warning}}

    <h1>Submit a new post here!</h1>
    <form method='post' enctype="multipart/form-data">
        <label>
            New Blog Post Heading:
            <input type="text" name='post_heading' value="{{post_heading}}" />
        </label>
        <label>
            New Blog Post:
            <input type="text" name='blog_post' value="{{new_post}}"/>
        </label>
        <input type="submit" value='Add Blog Post' />
    </form>

    <hr />

{% endblock %}